@model PC212545_ZC121553.Models.Table_2
@{
    ViewBag.Title = "Nuevo";
}

<h2>Nuevo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>USUARIOS</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.banda, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.banda, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.banda, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.integrantes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.integrantes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.integrantes, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.album, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.album, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.album, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.sencillos, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sencillos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sencillos, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>}

<div>
    @Html.ActionLink("Regresar a la lista", "/Listacrud")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}